.form {
  &--layout {
    display: flex;
    flex-direction: column;
    &--label {
      margin-bottom: 5%;
    }
    &--input {
      margin: auto;
      max-width: 30vw;
    }
  }
}
.submit {
  margin-top: 5%;
  border-radius: 5px;
  width: 30vw;
}
