// Map breakpoints
$breakpoints: (
    "extra-large": 1200px,//Extra large devices
    "large" : 1050px, //Large devices
    "medium-large" : 910px, //small-large devices
    "medium" : 768px, //Medium devices
    "small" : 600px, //Small devices
    "extra-small" : 375px //Extra small
);
