@import "./variable";

//Media queries
@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
            @content
        }
    }
}