.jobs {
    min-height: 350px;
    margin-top: 25px;
    border: 5px dashed #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__iconWrapper {
        margin-top: 20px;
    }
    &__icon {
        width: 100px;
    }
    &__title {
        width: 70%;
        margin-top: 10px;
        font-size: 23px;
    }
    &__message {
        width: 70%;
        margin-top:15px;
        font-size: 20px;
        opacity: 0.6;
        font-weight: 500;
    }
}