@import "../utils/mixin.scss";

.outerContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentContainer {
    width: 100%;
    display: flex;
    min-height: 100vh;
    &__right {
        flex:4;
        height: 100%;
    }
}
