@import "../utils/mixin.scss";

@mixin largeScreenProperty {
    display: flex;
    height: 100px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    .navbar {
        @include respond-to(small) {
            width: 95%;
        }
        @include respond-to(medium-large) {
            width: 90%
        }
        @include respond-to(large) {
            width: 85%
        }
        @include respond-to(extra-large) {
            width: 65%
        }
        &__top {
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &--logo {
                margin-left:10px;
                font-size: 30px;
                font-weight: bold;
            }
        }
        &__buttom {
            display: flex;
            height: 50px;
            align-items: flex-end;
            &--item {
                padding: 0.5rem 0.9rem;
                text-decoration: none;
                color: black;
                &:hover {
                    opacity: 0.6;
                }
            }
            &--itemActive {
                // color: #ff8e33;
            }
        }
    }

}

@mixin smallScreenProperty {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    .navbar {
        width: 90%;
        display: flex;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        &__logo {
            font-size: 25px;
            font-weight: bold;
        }
        &__menu {
            &--item {
                font-size: 30px;
            }
        }
        &__dropdownList {
            width: 100%;
            background-color: #eeeeee;
            box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.1);
            display: flex;
            flex-direction: column;
            &--item {
                text-decoration: none;
                color: black;
                padding: 0.5rem 0.9rem;
                border-bottom: 1px solid #dfdfdf;
            }
            &--itemActive {
                // color: #ff8e33;
            }
        }
    }
    
}

.navbarContainer {
    width: 100%;
    .navbarLargeScreen {
        display: none;
        @include respond-to(small) {
            display: none;
        }
        @include respond-to(medium) {
            @include largeScreenProperty;
        }
        @include respond-to(large) {
            @include largeScreenProperty;
        }
        @include respond-to(extra-large) {
            @include largeScreenProperty;
        }
    }
    
    .navbarSmallScreen {
        @include smallScreenProperty;
        @include respond-to(medium) {
            display: none;
        }
        @include respond-to(large) {
            display: none;
        }
        @include respond-to(extra-large) {
            display: none;
        }

    }
}