@import "../../style/utils/mixin.scss";

.navitem {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0px 10px 0px;
    @include respond-to(large) {
        padding: 15px 0px 15px 0px;
    }
    @include respond-to(extra-large) {
        padding: 15px 0px 15px 0px;
    }
    &__icon-wrapper {
        width:20px;
        display: flex;
        align-items: center;
        margin-left: 10%;
        @include respond-to(extra-large) {
            width:25px;
        }
        &--icon {
            width: 100%;
        }
    }
    &__value {
        font-size: 17px;
        margin-left: 10px;
        font-weight: 500;
        display: flex;
        align-items: center;
        @include respond-to(extra-large) {
            font-size: 20px;
            margin-left: 15px;
        }
    }
    &:hover {
        cursor: pointer;
    }
}

.navitem-actived {
    background-color: white;
    box-shadow:inset -3px 0px 0px 0px  #41a1ad;
}