$text-shadow: #bdbdbd 1px 1px 2px;
$shadow: #999999 1px 4px 5px 1px;

$color: #ffda44;
$color-gray: #a1a1a1;
$color-tab: #0270c2;
$color-background: #f5f5f5;

$font-color: #000;
$font: 'Roboto Condensed',
sans-serif;
$title-size: 28px;

.tradies {
  height: 600px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $color;
  background-size: cover;
  font-family: $font;

  &__title-box {
    text-align: center;
    font-size: $title-size;
  }

  &__tabs {
    .tabs-wrapper {
      .tabs {
        list-style-type: none;
        display: flex;

        .tab {
          width: auto;
          margin: 0 20px;
          cursor: pointer;
          font-size: 20px;
          padding-bottom: 5px;
          border-bottom: transparent 10px solid;

          &:hover {
            color: $color-tab;

            &:after {
              opacity: 1;
              transform: translateY(1px);
              transition: linear 0.3s;
            }
          }

          &:after {
            content: "";
            position: relative;
            display: block;
            top: 6px;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            background: $color-tab;
            transition: all .15s cubic-bezier(.615, .19, .305, .91);
            transform: translateY(-4px);
            opacity: 0
          }
        }

        .active {
          color: $color-tab;

          &:after {
            opacity: 1;
            transform: translateY(1px);
          }
        }
      }
    }
  }

  &__card {
    width: 70%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    background-color: $color-background;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: $shadow;
    font-family: sans-serif;

    .details {
      width: 60%;
      height: 100%;
      margin: 0;
      padding: 25px;

      .title {
        height: 15%;
        font-size: 30px;
        font-weight: bolder;
      }

      .rating {
        height: 10%;
        display: flex;
        align-items: center;

        .fa-star {
          color: $color-gray;
          text-shadow: $text-shadow;
        }

        .checked {
          color: $color;
        }
      }

      .description {
        height: 60%;
        padding: 10px 0 0 0;
      }
    }

    .display {
      width: 40%;
      height: 100%;

      margin: 0;

      &__img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .get-started {
    margin: 20px auto;
    background-color: $color-tab;
    border: none;
    border-radius: 20px;
    width: 190px;
    height: 40px;
    font-family: $font;
    color: $color-background;
    font-size: medium;
    cursor: pointer;
    outline: none;
  }

}