div .open {
  transform: translateX(-30px);
  background: transparent;
  box-shadow: none;
  transition: all 300ms ease-in-out;
}

div .open::before {
  transform: translateX(30px) rotate(45deg);
  box-shadow: none;
  transition: all 300ms ease-in-out;
}

div .open::after {
  transform: translateX(30px) rotate(-45deg);
  box-shadow: none;
  transition: all 300ms ease-in-out;
}