.promoCode {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__top {
        width: 90%;
        margin-top: 30px;
    }
    &__nav {
        width: 90%;
        margin-top: 30px;
    }
    &__box {
        width: 85%;
        margin-top: 30px;
        height: 500px;
    }
}