.promoCodeInfoBar {
    border-bottom: 2px solid #c7c7c7;
    background-color: #ffffff;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__innerContainer{
        width: 80%;
        display: flex;
        justify-content: space-between;
        &--info {
            font-size: 15px;
            font-weight: 500;
        }
    }
}

@media screen and (max-width: 500px) {
    .promoCodeInfoBar__innerContainer{
        width: 90%;
        &--info {
            font-size: 12px;
        }
    }
}