$nav_color2: rgb(37, 50, 55);
$nav_color: #ffda44;
$font_color_selected: rgb(10, 169, 238);
$nav_font_color2: rgb(255, 255, 255);
$nav_font_color: rgb(37, 50, 55);
$nav_font_family: sans-serif;
$nav_font_size: 20px;
$font: 'Roboto Condensed',
sans-serif;


.navbar {
    background-color: $nav_color;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    font-family: $font;

    a {
        &:visited {
            color: $nav_font_color;
        }
    }

    &__logo-box {
        height: 50px;
        width: 50px;
        margin: auto 20px;
        text-decoration: none;

        div {
            height: 100%;

            .navbar__logo {
                background-image: url(/src/component/Header/component/img/logo.png);
                background-size: cover;
                display: flex;
                justify-content: center;
                align-items: center;

            }
        }

    }

    &__list {
        display: flex;
        margin: auto;
        font-size: $nav_font_size;
        list-style-type: none;


        .navbar__link {
            margin: 2px;
            text-decoration: none;
            padding: 10px;
            border-radius: 5px;

            &:hover {
                color: $font_color_selected;
                background-color: white;
                box-shadow: gray 3px 3px 5px;

            }

            &:visited {
                color: $nav_font_color;
            }
        }
    }

    &__log {
        display: flex;
        margin: auto;
        font-size: $nav_font_size;
        font-weight: bold;
        list-style: none;

        .navbar__log-item {
            margin: 10px;
            text-decoration: none;
            padding: 10px;
            border-radius: 5px;

            &:hover {
                background-color: white;
                box-shadow: gray 3px 3px 5px;
            }
        }

        .navbar__become-tradie {
            text-decoration: none;

            &:visited {
                color: white;
            }

            &:hover {
                color: $nav_font_color;
                border: $nav_font_color 2px solid;
            }

            color: white;
            font-size: 18px;
            border: white 2px solid;
            border-radius: 8px;
            padding: 10px;
            margin: 10px 10px 10px 20px;
        }
    }
}