$text-shadow: rgb(61, 61, 61) 2px 2px 5px;
$color-white: rgb(255, 255, 255);
$shadow: gray 5px 5px 15px;
$color-gray: #909090;
$color-blue: #02367f;

.categories {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .categories__title-box {
    margin-left: 10px;
    font-size: x-large;
  }

  .card-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .card {
      height: 240px;
      width: 220px;
      text-align: start;
      font-family: Helvetica;
      box-sizing: border-box;

      overflow: hidden;
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: $shadow;
      border-radius: 10px;
      margin: 20px 5px;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      &:hover {
        /* opacity: 0.8; */
        cursor: pointer;
        transform: translate(-2px, -2px);
        transition: all ease 0.1s;
      }

      &__image-container {
        width: 220px;
        height: 150px;
        overflow: hidden;
      }
      &__image {
        width: 100%;
        height: 150px;
        opacity: 0.8;
      }

      &__heart {
        width: 30px;
        position: relative;
        transform: translate(180px, -140px);
        fill: $color-white;
        opacity: 0.8;

        &:hover {
          fill: red;
        }
      }

      &__dbox {
        margin: 5px 15px 0px;

        &__title {
          font-size: 15px;
          color: #0270c2;
          margin: 0 0px -5px 0px;
        }

        &__description {
          font-size: 12px;
          color: rgb(61, 61, 61);
        }
      }

      &__findmore {
        font-size: 12px;
        color: $color-gray;
        width: 100%;
        margin: -15px 10px 0;
        padding: 0 10px;
        text-align: right;
      }

      &__review {
        display: flex;
        width: 90%;
        justify-content: space-around;
        align-items: center;
        margin: 0 10px 10px;

        &__points {
          width: 30px;
          font-family: Cambria;
          color: $color-white;
          background-color: $color-blue;
          padding: 5px;
          border-radius: 5px 5px 5px 0;
          box-sizing: border-box;
        }
        &__rates {
          font-size: 13px;
          color: $color-blue;
        }
        &__dot {
          color: $color-gray;
          font-size: 16px;
        }

        &__number {
          font-size: 12px;
          color: $color-gray;
        }
      }
    }
  }
}
